
# dependencies
/node_modules
/Frontend/node_modules
/Frontend/.pnp
/Frontend/.pnp.js

# testing
/Frontend/coverage

# production

# misc
/backend/config/config.env
/Frontend/.DS_Store
/Frontend/.env.local
/Frontend/.env.development.local
/Frontend/.env.test.local
/Frontend/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
